.dolarOficial {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #4CAF50; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    text-align: center;
    width: 400px;
    margin: auto;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #2D4818; /* Verde oscuro */
}
.grupoBlue {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.compraDolar {
  display: inline-block;
  padding: 5px 20px;
  background-color: #248b1b;
  color: azure;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow:3px 3px 10px #083e03;
}

.ventaDolar {
  display: inline-block;
  padding: 5px 20px;
  background-color: #4982e4;
  color: azure;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow:3px 3px 10px #264f96;
}

.actualizacionDolar {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 20px;

}
