.navBar {
  display: flex;
  align-items: left;
  padding: 10px 20px;
  background-color:rgb(5, 13, 4);
  color: #fff;
  position: fixed;
  width: 100%;
  gap: 30px;
  left: 0;
  right: 0;
  z-index: 1000
}

.appName {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(253, 255, 253);
  padding: 5px;
  left: 0;
  fill: none;
}

.links {
  display: flex;
}

.link {
  color: #fff;
  text-decoration:none;
  font-size: 1rem;
  color: rgb(253, 255, 253);
  height: 10px;
  padding: 15px;
  text-align:unset;
  fill: none;
}
