.tituloDos {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 150px;
  padding-top: 25px;
  text-align: center;
  color: #008f68;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  border-bottom: 3px solid #008f68;
}

.cajaUno {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
