body{
  position: relative;
  height: 100vh;
  display: grid;
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
}

header {
  padding: 15px 0; 
  text-align: center;
}

.grafico {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; 
  pointer-events: none; 
  z-index: -1; 
}

.barra {
  width: 10px;
  background-color:#008F68 ;
  height: 50px; 
  animation: subirBajar 10s infinite alternate ease-in-out;
}


@keyframes subirBajar {
  0% { height: 10px; }
  100% { height: 100px; }
}

/* Variaciones en duración para que sea aleatorio */
.barra:nth-child(3n) { animation-duration: 9s; }
.barra:nth-child(4n) { animation-duration: 9.5s; }
.barra:nth-child(5n) { animation-duration: 10.5s; }
.barra:nth-child(6n) { animation-duration: 11s; }
.barra:nth-child(7n) { animation-duration: 11.5s; }